# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Gems
*.gem
.bundle

#Apache
.htaccess

# Config
config.php

# prod files
prod.*

# cache
content/cache/object

# backups
content/updraft/backup_*
content/updraft/log*.txt
